.categories{
    margin-top: 20px;
    .categories__content{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        .categories__item{
            border: 1px solid #ddd;
            padding: $pd-2;
            transition: .5s;
            cursor: pointer;
            &:hover{
                box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.1);
            }
        }
    }
    @include respond-to("extra-large"){
        .categories__content{
            grid-template-columns: repeat(3, 1fr);
        }
    }
    @include respond-to("large"){
        .categories__content{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @include respond-to("medium"){
        .categories__content{
            grid-template-columns: repeat(1, 1fr);
        }
    }
    @include respond-to("small"){
        .categories__content{
            grid-template-columns: repeat(1, 1fr);
        }
    }
}